@model Zoulou.ViewModels.MMEG.CreatureViewModel
@{
    ViewBag.Title = "MMEG - " + Model.Creature.NameEn;
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="title">
                <span>@Model.Creature.NameEn</span>
            </div>
        </div>
        <div class="row section text-center">
            @using(Html.BeginForm()) {
                <div class="cstm-button filter @(Model.Creature.Element.Id == 1 ? "active" : "")">
                    <a href="@Url.Action("Creature", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString(), species = Model.Creature.SpeciesId, stage = Model.Creature.EvolutionStage, element = 1 })" class="ra ra-flame-symbol"></a>
                </div>
                <div class="cstm-button filter @(Model.Creature.Element.Id == 4 ? "active" : "")">
                    <a href="@Url.Action("Creature", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString(), species = Model.Creature.SpeciesId, stage = Model.Creature.EvolutionStage, element = 4 })" class="glyphicon glyphicon-leaf"></a>
                </div>

                <div class="cstm-button filter @(Model.Creature.Element.Id == 3 ? "active" : "")">
                    <a href="@Url.Action("Creature", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString(), species = Model.Creature.SpeciesId, stage = Model.Creature.EvolutionStage, element = 3 })" class="glyphicon glyphicon-cloud"></a>
                </div>

                <div class="cstm-button filter @(Model.Creature.Element.Id == 2 ? "active" : "")">
                    <a href="@Url.Action("Creature", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString(), species = Model.Creature.SpeciesId, stage = Model.Creature.EvolutionStage, element = 2 })" class="ra ra-water-drop"></a>
                </div>
            }
        </div>
        <div class="row">
            <div class="subtitle">
                <span class="glyphicon glyphicon-option-vertical"></span>
                <span>Level 1 Stats</span>
            </div>
            <table class="cstm-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>HP</th>
                        <th>ATK</th>
                        <th>DEF</th>
                        <th>SPD</th>
                        <th>CRIT</th>
                        <th>CRITD</th>
                        <th>ACC</th>
                        <th>RES</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Creature.BaseRank</td>
                        <td>@Model.Creature.HP</td>
                        <td>@Model.Creature.ATK</td>
                        <td>@Model.Creature.DEF</td>
                        <td>@Model.Creature.SPD</td>
                        <td>@Model.Creature.CRIT</td>
                        <td>@Model.Creature.CRITD</td>
                        <td>@Model.Creature.ACC</td>
                        <td>@Model.Creature.RES</td>
                        <td>@Model.Creature.Total</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="subtitle">
                <span class="glyphicon glyphicon-option-vertical"></span>
                <span>Main Skill Evolutions</span>
            </div>
            <table class="cstm-table"">
                <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Description</th>
                        <th>Cooldown</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Creature.Skills.ElementAt(1).NameKey</td>
                        <td>@Model.Creature.Skills.ElementAt(1).DescKey</td>
                        <td>@Model.Creature.Skills.ElementAt(1).Cooldown</td>
                    </tr>
                    <tr>
                        <td>@Model.Creature.Skills.ElementAt(2).NameKey</td>
                        <td>@Model.Creature.Skills.ElementAt(2).DescKey</td>
                        <td>@Model.Creature.Skills.ElementAt(2).Cooldown</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="subtitle">
                <span class="glyphicon glyphicon-option-vertical"></span>
                <span>Secondary Skills</span>
            </div>
            <table class="cstm-table"">
                <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Description</th>
                        <th>Cooldown</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Creature.Skills.ElementAt(3).NameKey</td>
                        <td>@Model.Creature.Skills.ElementAt(3).DescKey</td>
                        <td>@Model.Creature.Skills.ElementAt(3).Cooldown</td>
                    </tr>
                    <tr>
                        <td>@Model.Creature.Skills.ElementAt(4).NameKey</td>
                        <td>@Model.Creature.Skills.ElementAt(4).DescKey</td>
                        <td>@Model.Creature.Skills.ElementAt(4).Cooldown</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="subtitle">
                <span class="glyphicon glyphicon-option-vertical"></span>
                <span>Glyph Sets</span>
            </div>
        </div>
    </div>
</div>