@model Zoulou.ViewModels.MMEG.GlyphViewModel
@{
    ViewBag.Title = "MMEG - Glyphs";
}
<div class="row">
    <div class="col-md-12">
        <table class="boxed">
            <thead>
                <tr>
                    <th class="boxed-gray">Rarity</th>
                    @foreach(var Rarity in Model.AvailableRarities) {
                        <th class="boxed-@Rarity.ToString().ToLower()" colspan="4">@Rarity.ToString()</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="boxed-gray">Stats / Level</td>
                    @foreach(var Rarity in Model.AvailableRarities) {
                        for(var i = 7; i <= 16; i += 3) {
                            <td class="boxed-@Rarity.ToString().ToLower()">@i.ToString()</td>
                        }
                    }
                </tr>
                @foreach(var Stat in Model.GetAvailableStats()) {
                    <tr>
                        <td class="boxed-gray">@Stat.Name @Stat.Modifier</td>
                        @foreach(var Rarity in Model.AvailableRarities) {
                            for(var i = 7; i <= 16; i += 3) {
                                <td class="boxed-@Rarity.ToString().ToLower()">@Model.CalculateStat(Stat.Name, Rarity.ToString(), Stat.Modifier, i)</td>
                            }
                        }
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th class="boxed-gray">Rarity</th>
                    @foreach(var Rarity in Model.AvailableRarities) {
                        <th class="boxed-@Rarity.ToString().ToLower()" colspan="4">@Rarity.ToString()</th>
                    }
                </tr>
            </tfoot>
        </table>
    </div>
</div>
