<link href="/Content/Css/mmeg.css" rel="stylesheet">
<div class="navbar">
    <div class="container" style="padding: 0px 15px;">
        <div class="navbar-header">
            <div class="cstm-button mmeg small">
                <a href="@Url.Action("Index", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">
                    <div class="crop">
                        <img src="/Content/Images/MMEG.png" alt="MMEG" />
                    </div>
                </a>
            </div>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("TierList", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Tier List</a>
                </li>
                <li>
                    <a href="@Url.Action("Creatures", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Creatures</a>
                </li>
                <li>
                    <a href="@Url.Action("Glyphs", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Glyphs</a>
                </li>
                <li>
                    <a href="@Url.Action("Skills", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Creatures</a>
                </li>
                <li>
                    <a href="@Url.Action("Achievements", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Achievements</a>
                </li>
            </ul>
        </div>
    </div>
</div>