@{
    ViewBag.Title = "PKM";
}
<div class="row">
    <div class="navbar navbar-inverse">
        <div class="container" style="padding: 0px 15px;">
            <div class="navbar-header">
                <div class="game-logo pkm">
                    <a href="/En/PKM">
                        <div class="crop" style="width: 60px; height: 55px;">
                            <img src="/Content/Images/PKM.png" alt="PKM" />
                        </div>
                    </a>
                </div>
            </div>
            <form id="searchform" role="search" method="get" action="" class="navbar-form navbar-right searchform">
                <div class="input-group widget-search">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-secondary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    @Html.MenuItem("Pokemons", "Pokemons", "PKM")
                    @Html.MenuItem("Tier List", "TierList", "PKM")
                    @Html.MenuItem("Abilities", "Abilities", "PKM")
                    @Html.MenuItem("Items", "Items", "PKM")
                    @Html.MenuItem("Type Chart", "TypeChart", "PKM")
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1>Type Chart</h1>

            <br/>

            <table id="typechart">
                <tr>
                    <td class="corner"></td>
                    @{ 
                        /**********
                         * Top Row
                         * ********/

                        foreach (String typeName in ViewBag.TypeChart.allTypes) {
                            <td class="@typeName.ToLower()">@typeName.Substring(0, 3)</td>
                        }
                    }
                </tr>
                @{ 
                    /*****************
                    * Left Row + Grid
                    * ***************/

                    foreach (KeyValuePair<String, Dictionary<String, Double>> typeMatchups in ViewBag.TypeChart.TypeMatchups) {
                        <tr>
                            <td class="@typeMatchups.Key.ToLower()">@typeMatchups.Key.Substring(0, 3)</td>

                            @foreach (String typeName in ViewBag.TypeChart.allTypes) {
                                var className = "";
                                var modifier = "";

                                //Select effectiveness
                                if (typeMatchups.Value.ContainsKey(typeName)) {
                                    switch (typeMatchups.Value[typeName]) {
                                        case 0:
                                            className = "not-effective";
                                            break;
                                        case 0.5:
                                            className = "not-very-effective";
                                            break;
                                        case 2:
                                            className = "super-effective";
                                            break;
                                    }

                                    className += " outlined";
                                    modifier = typeMatchups.Value[typeName].ToString();
                                } else {
                                    modifier = "1";
                                }

                                <td class="@className">@modifier</td>
                            }
                        </tr>
                    }
                }
            </table>
            <br />
            <br />
        </div>
    </div>
</div>
