<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        @Scripts.Render("~/Bundles/scripts")
        @Scripts.Render("~/Bundles/modernizr")
        @Styles.Render("~/Content/css")
        @RenderSection("scripts", required: false)
    </head>
    <body>
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-upgraded mdl-layout--no-desktop-drawer-button">
                <header role="banner" class="mdl-layout__header mdl-layout__header--seamed">
                    <div class="mdl-layout__header-row">
                        <!-- Title -->
                        <a class="mdl-layout-title" href="@Url.Action("Index", "Home", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })"><img class="logo" src="/Content/Images/Feather.svg" alt="Zoulou" />Zoulou</a>
                        <!-- Add spacer, to align navigation to the right -->
                        <div class="mdl-layout-spacer"></div>
                        <!-- Navigation -->
                        <nav class="mdl-navigation">
                            <a class="mdl-navigation__link" href="@Url.Action("Index", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Might & Magic</a>
                            <a class="mdl-navigation__link" href="@Url.Action("Index", "FEH", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Fire Emblem</a>
                            <a class="mdl-navigation__link" href="@Url.Action("Index", "PKM", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Pokemon</a>
                        </nav>
                    </div>
                </header>
                <div class="mdl-layout__drawer">
                    <a class="mdl-layout-title" href="@Url.Action("Index", "Home", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })"><img class="logo" src="/Content/Images/Feather.svg" alt="Zoulou" />Zoulou</a>
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" href="@Url.Action("Index", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Might & Magic</a>
                        <a class="mdl-navigation__link" href="@Url.Action("Index", "FEH", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Fire Emblem</a>
                        <a class="mdl-navigation__link" href="@Url.Action("Index", "PKM", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })">Pokemon</a>
                    </nav>
                </div>
                <main class="mdl-layout__content">
                    <div class="page-content">
                        @RenderBody()
                    </div>
                </main>
                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo">&copy; @DateTime.Now.Year - Zoulou</div>
                    </div>
                </footer>
            </div>
    </body>
</html>
