<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })"><img class="logo" src="/Content/Images/Feather.svg" alt="Zoulou" />Zoulou</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "MMEG", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })" hreflang="en" rel="alternate">Might & Magic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "FEH", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })" hreflang="en" rel="alternate">Fire Emblem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "PKM", new { culture = this.ViewContext.RouteData.Values["culture"].ToString() })" hreflang="en" rel="alternate">Pokemon</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle nav-item" data-toggle="dropdown" href="#">Language</a>
                    <ul class="dropdown-menu">
                        <li class="glyphicon glyphicon-triangle-top" aria-hidden="true"></li>
                        <li><a href="@(Url.RouteCultureUrl(this.ViewContext.RouteData.Values, "en"))" hreflang="en" rel="alternate">English</a></li>
                        <li><a href="@(Url.RouteCultureUrl(this.ViewContext.RouteData.Values, "fr"))" hreflang="fr" rel="alternate">Français</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    @{
        //    TODO : Doesn't pass on route values
    }
    @RenderPage("~/Views/" + this.ViewContext.RouteData.Values["controller"].ToString() + "/Navbar.cshtml")
    <div class="container-fluid body-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="copyright">
            <p>&copy; @DateTime.Now.Year - Zoulou</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
